                        <article class="article">
                            <header>
                                <h1>{{ meta.title }}</h1>
                                <span class="published" title="{{ meta.date.isoformat() }}">
                                    {{ meta.date.strftime("%Y-%m-%d") }}
                                </span>
                            </header>
                            <div>
                                <div class="article-body">
                                    {{ article_content }}
                                </div>
                            </div>
                            <footer class="post-info"></footer>
                        </article>
