<!DOCTYPE HTML>
<html>

<head>
	{% block head %}
	<title>{% block title %}{{ sitename }}{% endblock title %}</title>
	<!--[if lte IE 10]>
		<div class="old-browsers">Page broken. Upgrade your browser or make a switch to something better.</div>
	  	<![endif]-->
	<!-- Define charset -->
	<meta charset="utf-8" />
	<!-- End Define charset -->
	<!-- Define viewport -->
	<meta name=viewport id="viewport" content="width=device-width, initial-scale=1">
	<!-- Define viewport -->
	<!-- Favicon -->
	<link rel="shortcut icon" href="/css/favicon.png">
	<!-- End Favicon -->
	<!-- Font loading -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</style>
	<!-- End font loading -->
	<!-- Load CSS -->
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<!-- End Load CSS -->
	<!-- Umami tracking (no cookies) -->
	<script defer src="https://umami.ingenjorsarbeteforklimatet.se/script.js" data-website-id="ca3a724e-8d8b-43fc-ae47-e58b730d6d20"></script>
	<!-- End Umami tracking (no cookies) -->
	{% endblock head %}
</head>

<body>
	{% if menuitems %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">	
			<a class="navbar-brand" href="/">
				<img src="/css/gro_logo_trans.png" width="70" height="70" alt="Gro Gamlestaden">
			  </a>
			  <a class="navbar-brand" href="/" style="font-family:sans-serif ">Gro Gamlestaden</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link", title="Nyheter"  href="/">Nyheter</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Odling
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="/odling/">Information</a>
						  <a class="dropdown-item" href="/odling#kaggsplatten">Kaggsplätten</a>
						  <a class="dropdown-item" href="/odling#kvibergsplatten">Kvibergsplätten</a>
						</div>
					  </li>
					<li class="nav-item">
						<a class="nav-link", title="Medlemskap"  href="/medlemskap/">Medlemskap</a>
					</li>
					<li class="nav-item">
						<a class="nav-link", title="Övriga Projekt"  href="/ovriga_projekt/">Övriga Projekt</a>
					</li>
					<li class="nav-item">
						<a class="nav-link", title="Samarbeten"  href="/samarbeten/">Samarbeten</a>
					</li>
					<li class="nav-item">
						<a class="nav-link", title="Om oss"  href="/om/">Om oss</a>
					</li>
				</ul>
			</div>
		</nav>
	{% endif %}

	<main id="main" class="flex-shrink-main">
		{% block content %}
		{% endblock %}
	</main>


	<footer id="footer" class="bg-light text-center text-white">		
		<div class="text-center p-3" style="background-color: rgba(245, 245, 245, 0.459);">
			<a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/profile.php/?id=61557447724634" role="button"><i class="fa fa-facebook"></i></a>
			<a class="btn btn-outline-dark btn-floating m-1" href="mailto:grogamlestaden@gmail.com" role="button"><i class="fa fa-envelope"></i></a>
			<a class="btn btn-floating m-1" href="https://ingenjorsarbeteforklimatet.se/" role="button">&copy; IFK</a>
		</div>
	</footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
