/* Style
Name: gro-gamlestaden - Preliminär hemsida för medborgarinitiativ Gro Gamlestaden
Author: Ingenjörsarbete För Klimatet (- ) Christoffer Strömberg
Site: ingenjorsarbeteforklimatet.se/gro-gamlestaden
Version: 0.1
*/

/* Menu */

/* End Menu */

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* End Footer */

/* Content */

body  {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 80px;
}

#main .page {
    margin: 0 auto;
    padding: 1%;
}

#main .page p {
    line-height: 1.75;
}
/* End Content */

ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

article {
    padding: 20px 0 0;
}

article .entry-title {
    display: inline;
}

a {
    text-decoration: none;
}

a, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    transition: all 0.25s;
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}

p a, p a:visited {
    text-decoration: underline;
}

.button {
    padding: 5px;
    background: #879d76;
    color: #fff;
}

a.button {
    text-decoration: none;
}

.center {
    text-align: center;
    margin: 0 auto;
}

h1, h2, h3 {
    margin-top: 3rem;
}
